.dark {
    background-color: #424242;
    color: #f8f1dc;
}
.light {
    background-color: #f8f1dc;
    color: #424242;
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    font-style: italic;
    cursor: pointer;
}