.dark {
    background-color: #333;
    color: #fff;
}
.light {
    background-color: #fff;
    color: #333;
}

button{
    border-radius: 50px;
    background: #414ca6;
    border: 3px solid #d4d4fa;
    width: 120px;
    height: 30px;
    color: #d4d4fa;

}